.app-shell {
  height: 100vh;
  width: 100vw;
  background: #020617;
  color: #e2e8f0;
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr;
  font-family: "Space Grotesk", "IBM Plex Sans", system-ui, sans-serif;
}

.app-body {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 0;
}

.app-main {
  width: 100%;
  height: 100%;
  position: relative;
}

.inspector-float {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 320px;
  z-index: 200;
}